<!-- Modal -->
<div class="modal-header">
    <script type="text/javascript" src="/modules/users/view/js/login.js"></script>
    <!--<script type="text/javascript" src="https://projects-alumnes-yomogan.c9users.io/proj_final_login/JoinElderly/modules/user/view/js/facebook.js"></script>-->
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Acceder</h4>
</div>
<div class="modal-body">
    <form id="login_form" name="login_form" class="form-contact">
        <div class="control-group">
            <input type="text" id="inputUser" name="inputUser" placeholder="Usuario" class="input-block-level" dir="auto" maxlength="100">
        </div>
        <div class="control-group">
            <input type="password" id="inputPass" name="inputPass" placeholder="Contraseña" class="input-block-level" maxlength="100">
        </div>

        <input class="btn btn-primary" type="button" name="submitLog" id="submitLog" value="Enviar" />
    </form>

    <div class="form-contact reg ">
        <p>¿Aun no te has registrado? Hazlo <a href="https://findmenu.tk/users/signup/" id="linkReg">aquí</a></p>
        <p><a href="https://findmenu.tk/users/restore/" id="linkRest">¿Has olvidado tu contraseña?</a></p>
    </div>
