<!-- Modal -->    
    <section id="content" class="login">
        <div class="details-holder-login">
            <div class="modal-header">
                <script type="text/javascript" src="/modules/users/view/js/login.js"></script>
                <script type="text/javascript" src="/modules/users/view/js/facebook.js"></script>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1>LOG IN</h1>
                
            </div>
            <div class="modal-body">
                <form >
                    <div>
                        <input class="text" type="text" id="inputUser" name="inputUser" placeholder="Email">
                    </div>
                    <div>
                        <input class="text" type="password" id="inputPass" name="inputPass" placeholder="Password">
                    </div>

                    <input class="btn-read-more" type="button" name="submitLog" id="submitLog" value="Send" />
                </form>

                <div id="social-signin">
                    <ul class="icons">
                        <li>
                            <a id="fb" href="#"><img src="https://findmenu.tk/modules/users/view/img/fbsig.png" alt="Login twitter" class="social-icon fb"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="https://findmenu.tk/modules/users/view/img/twsig.png" alt="Login twitter" class="social-icon tw" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="https://findmenu.tk/modules/users/view/img/googlesig.png" alt="Login google" class="social-icon google" /></a>
                        </li>
                    </ul>
                </div>
                <div id="contact-reg">
                    <h2><a href="https://findmenu.tk/users/signup/" id="linkReg">Regístrate</a></h2>
                    <h2><a href="https://findmenu.tk/users/restore/" id="linkRest">¿Has olvidado tu contraseña?</a></h2>
                </div>
            </div>
        </div>
    </section>

