#form_users .container{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 8px groove #cc783f;
  position: relative;
  top: 10px;
  left: 10px;
  /*background-color: lightblue;*/
  width: 50%;
  height: auto;
  background-color: #2F4F4F;
  /* Sombra generada usando http://www.cssmatic.com/es/box-shadow*/
  -webkit-box-shadow: inset 0px -50px 76px 2px rgba(173,171,172,0.84);
  -moz-box-shadow: inset 0px -50px 76px 2px rgba(173,171,172,0.84);
  box-shadow: inset 0px -50px 76px 2px rgba(173,171,172,0.84);

}

#form_users form{
  background-color: inherit;
  margin: 13%;
}

#form_users h1{
  border-bottom: 0.1em solid #fff;
  color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  opacity: 0.7;
}

#form_users input{
  background-color: #2F4F4F;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  border-style: none;
  box-sizing: content-box;
  display: block;
  font-size: 1.3em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 5px;
  width: 80%;
}

#form_users input:hover, #form_users input:focus{
  border: 1px solid #e0dcd9;
  color: inherit;
}

#form_users input:hover{
  cursor: url(/view/img/pointerChalk.ani), url(/view/img/pointerfindMenu_tiza_pointer.cur), hand;
  color: #FFB03B;
}

#form_users input:required {
  border-right: 0.05em dotted yellow;
  border-bottom: 2px solid #fff;
}

#form_users input:valid{
  background-color: inherit;
  font-style: 'Satisfy', sans-serif;
  color: white;
  opacity: 1;
}

#form_users input:focus:invalid{
  border:1px solid red;
  background-color: #fff;
}

#submit_signup{
  width: 100%;
  margin: 0.5em;
  font-style: 'Satisfy', sans-serif;
}

.submit_signup{
  border-top: 5px dotted #fff;
  margin-top: 1em;
}
