/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12/11/2015, 16:22:32
    Author     : albert
*/
.table-row{
    display:table-row;
}
.table-display{
   display:table;
}
.table-cell{
    width: 40%;
    text-align: center;
    padding: 20px;
    display:table-cell;
    border-style: outset;
    border-radius: 25px;
    background-color: #e3e3e3;

}
.table-separator{
  display:table-cell;
  width: 8%;
}
.text-limited{
    width: 70%;
    text-align: center;
    padding: 10px 25px;
}
.special{
    color:  crimson;
    border-style:  outset;
    background-color:  #2ecc71;
    width: 10%;
    text-align: center;
    padding: 6px;
    margin: 6px;
    border-radius: 8px;
}
.product_name{
     color: whitesmoke;
    border-style:  outset;
    background-color:  #34495e;
    width: 35%;
    text-align: center;
    padding: 6px;
    margin: 6px 0px 6px 125px;
    border-radius: 8px;
    font-weight: bold;
}
.product_name:hover{
    background-color:  #2ecc71;
}
.title-product{
    color:  darkred;
}
.img-product{
    height:300px;
    width:300px;
    margin: 30px;
    border: outset  5px;
}
#product .title-product{
    padding-top: 30px;
}

#text-product{
   
    padding: 10px 5px;

}
#text-product .special{
    margin-left: 120px;
}
.ui-effects-transfer{
     border: 2px dotted gray;
}

.input_search {
    height: 2.7em;
    width: 30em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    font-size: 1.2em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
.button_search{
  position: absolute;
  background-image:url(../../../../media/search.png);
  background-repeat:no-repeat;
  height:46px;
  width:100px;
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  background-color: #efefef;
  padding: 0em 1em;
  box-shadow: 0em 0.1em 0.5em #ccc;
}

.odd_prod{
    width: 20%;
    text-align: center;
    padding: 20px;
    display:table-cell;
    border-style: outset;
    border-radius: 25px;
    background-color: #e3e3e3;

}

/****products*/
.custom-file-upload {
      background: #ddd;
      border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 12px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
}
.error{
    background-color: #BC1010;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #BC1010;
    border-left: 10px solid transparent;
    left: -16px;
    position:  absolute;
    top: 5px;

}
.error1{
    background-color: #BC1010;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error1:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #BC1010;
    border-left: 10px solid transparent;
    left: -16px;
    position:  absolute;
    top: 5px;

}

.msg{
    color: white;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}


.table_check{
  height: 100%;
  width: 100%;
  align: center;
}

.table_check_head{
  aling: center;
}


.table_check_row{
  text-align:left;
}

input[type="file"] {
    display: none;
}

#progress {
  position:relative;
  width:400px;
  border: 1px solid #ddd;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }
